<div class="main_component">
    <div class="div-flex">
        <h1>Profile
            <mat-chip *ngIf="isAdmin">
                <span>Admin</span>
            </mat-chip>
        </h1>
        <form [formGroup]="userDataForm">
            <mat-form-field>
                <mat-label for="email">Email: </mat-label>
                <input matInput type="text" formControlName="email" />
            </mat-form-field>
            <div>
                <span class="buttons">
                    <button mat-raised-button color="primary" (click)="update()">Update</button>
                </span>
            </div>
        </form>
        <h2>Appointment:</h2>
        <div *ngIf="appointment">

            <mat-chip>
                <p>{{appointment.time | timestampToTime}}</p>

            </mat-chip>
            <button mat-raised-button (click)="deleteAppointment()">Delete appointment</button>

        </div>
        <button mat-raised-button (click)="deleteProfile()">Delete profile</button>
    </div>